@page "/adminAccountCredentials/{accountId}/{clinicId}"
@using Microsoft.Extensions.Logging
@using System.Text.Json.Serialization
@using System.Text
@using Newtonsoft.Json
@inject ILogger<Index> Logger
@inject NavigationManager UriHelper
@inject HttpClient _httpClient

<PageTitle>Create Account</PageTitle>

<h1>Administrator Information</h1>
The Administrator will be able to add and delete other users.
<br/>

<EditForm Model="@credentialModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>Email: </div>    
    <InputText id="name" @bind-Value="credentialModel.Email" />
    <div>Password: </div>    
    <InputText id="name" @bind-Value="credentialModel.Password" />
    <div>Confirm Password: </div>    
    <InputText id="name" @bind-Value="credentialModel.ConfirmPassword" />
    <div>Security Question:</div>
    <InputText id="name" @bind-Value="credentialModel.SecurityQuestion" />
    <div>Security Answer:</div>
    <InputText id="name" @bind-Value="credentialModel.SecurityAnswer" />
    <div>I have read the Terms of Service:</div>
    <InputText id="name" @bind-Value="credentialModel.Consent" />
    
    <br/>
    <br/>

    <button type="submit">Next</button>
</EditForm>

@code {
    [Parameter]
    public string accountId{ get; set; }

    [Parameter]
    public string clinicId{ get; set; }


    private CredentialModel credentialModel = new();


    private async Task HandleValidSubmit()
    {
        credentialModel.AccountId = accountId;
        credentialModel.ClinicId = clinicId;

        var response = await _httpClient.PostAsync($"https://localhost:7083/api/Accounts/professional/completeCreatingAdministratorAccount", 
            new StringContent(JsonConvert.SerializeObject(credentialModel), Encoding.UTF8, "application/json"));

        if (!response.IsSuccessStatusCode)
        {
            throw new Exception($"completeCreatingClinicAccount failed for account: {accountId}");
        }

        UriHelper.NavigateTo($"/adminAccountCreated/{accountId}/{clinicId}");
    }
}
