@page "/CreateProfessionalAccount"
@using Microsoft.Extensions.Logging
@using System.Text.Json.Serialization
@using System.Text
@using Newtonsoft.Json
@inject ILogger<Index> Logger
@inject NavigationManager UriHelper
@inject HttpClient _httpClient


<h1>Create Account</h1>
<br/>

<EditForm Model="@invitationModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    Enter Clinic ID: 
    A Tandem Clinic ID is used to identify and verify your healthcare practice.
    <InputText id="name" @bind-Value="invitationModel.ClinicId" />
    <br/>
    <button type="submit">Next</button>
</EditForm>

@code {

    public record Invitation([property: JsonPropertyName("clinicId")] string clinicId = "clinicID");


    private MyInvitationModel invitationModel = new();

    private async Task HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called in Enter ClinicId");

        var invitation = new Invitation(invitationModel.ClinicId);

        var response = await _httpClient.PostAsync("https://localhost:7083/api/Accounts/professional/startCreatingClinicAccount", 
            new StringContent(JsonConvert.SerializeObject(invitation), Encoding.UTF8, "application/json"));

        if (!response.IsSuccessStatusCode)
        {
            Logger.LogError(response.ReasonPhrase);
            return;
        }
        var clinicAccountId = await response.Content.ReadAsStringAsync();

        
        UriHelper.NavigateTo($"/clinicAccountInformation/{clinicAccountId}/{invitation.clinicId}");
    }
}