@page "/employeeVerified/{accountId}/{clinicId}"
@inject NavigationManager UriHelper
@inject IJSRuntime JsRuntime


<PageTitle>Employee Verified!</PageTitle>

<h1>Employee Verified!</h1>
<br/>
<div>Account Id: @accountId</div>
<div>Clinic Id: @clinicId</div>

<br/>
<button class="btn btn-primary" @onclick="Next">Continue</button>


@code {
    [Parameter]
    public string accountId { get; set; }
    [Parameter]
    public string clinicId{ get; set; }

    private void Next()
    {
        //UriHelper.NavigateTo($"/startCreatingEmployeeAccount/{clinicId}");
    }
}
