@page "/personalAccountInformation/{accountId}"
@using Microsoft.Extensions.Logging
@using System.Text.Json.Serialization
@using System.Text
@using Newtonsoft.Json
@inject ILogger<Index> Logger
@inject NavigationManager UriHelper
@inject HttpClient _httpClient

<PageTitle>Personal Account Information</PageTitle>

<h1>Personal Account Information</h1>
<br/>

<EditForm Model="@informationModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>First Name: </div>    
    <InputText id="name" @bind-Value="informationModel.FirstName" />
    <div>Last Name: </div>    
    <InputText id="name" @bind-Value="informationModel.LastName" />
    <div>DoB :</div>
    <InputText id="name" @bind-Value="informationModel.DoB" />
    
    <br/>
    <br/>

    <button type="submit">Next</button>
</EditForm>

@code {
    [Parameter]
    public string accountId{ get; set; }


    private InformationModel informationModel = new();


    private async Task HandleValidSubmit()
    {
        informationModel.AccountId = accountId;

        var response = await _httpClient.PostAsync($"https://localhost:7083/api/Accounts/personal/addPersonalAccountInformation", 
            new StringContent(JsonConvert.SerializeObject(informationModel), Encoding.UTF8, "application/json"));

        if (!response.IsSuccessStatusCode)
        {
            throw new Exception($"addPersonalAccountInformation failed for account: {accountId}");
        }

        UriHelper.NavigateTo($"/personAccountCredentials/{accountId}");
    }
}
